version: '3.8'

services:
  # 1. 데이터베이스
  db:
    image: postgres:16-alpine
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      # [수정] .env 파일에서 DB_PASSWORD를 가져옴
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  # 2. 백엔드
  backend:
    container_name: strength-log-backend
    image: sharru0701/strength-log-backend:latest
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      # [수정] DSN 문자열 안에 변수 삽입
      DB_DSN: "host=db user=postgres password=${DB_PASSWORD} dbname=postgres port=5432 sslmode=disable TimeZone=Asia/Seoul"

  # 3. 프론트엔드
  frontend:
    container_name: strength-log-frontend
    image: sharru0701/strength-log-frontend:latest
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend