version: '3'

services:
  db:
    image: postgres:16-alpine
    container_name: strength_log_db_local
    restart: always
    environment:
      POSTGRES_USER: postgres
      # [수정] .env 파일에서 DB_PASSWORD를 읽어옵니다.
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: postgres
      TZ: Asia/Seoul
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data_dev: